@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&display=swap");
/* font-family: 'Inter', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

:root {
  --black-font: #000;
  --green-color: #a0e90a;
  --white-font: #fff;
  --bgc-color: #1c1c1c;
  --hover-gren-color: #caff5c;
}

section {
  max-width: 1600px;
  margin: auto;
}

header {
  background: linear-gradient(to right, #e1ece8, #f4f8f7);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 6rem;
  flex: 1;
  flex-wrap: wrap;
}

.header-left img {
  width: 7.5rem;
  cursor: pointer;
}

.links a {
  margin-left: 1rem;
  color: var(--black-font);
  font-weight: 500;
}

.header-right {
  display: flex;
  gap: 0.3rem;
}

.header-right div i {
  height: 3.4rem;
  width: 3.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--white-font);
}

.header-right div {
  display: flex;
  gap: 0.3rem;
}

.button {
  width: 9.5rem;
  height: 3.4rem;
  border-radius: 3rem;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5rem;
}

.header-right button:hover {
  background-color: #e2e7e5;
  transition: 0.5s;
}

.hero {
  background: linear-gradient(135deg, #e1ece8, #fff);
  height: 120vh;
}

.container {
  display: flex;
  width: 85%;
  margin: auto;
  height: inherit;
}

.container-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-left-tittle {
  font-size: 3.5rem;
  line-height: 3.7rem;
}

.container-left-text {
  margin-top: 1.5rem;
  font-size: 1.14rem;
  line-height: 1.7rem;
}

.buttons {
  margin-top: 2rem;
}

.buttons button:nth-child(1) {
  background-color: var(--green-color);
  border: none;
}

.buttons button:nth-child(1):hover {
  background-color: var(--hover-gren-color);
  transition: 0.5s;
}

.buttons button:nth-child(2):hover {
  background-color: #e2e7e5;
  transition: 0.5s;
}

.specialist {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.specialist div {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.specialist div a {
  color: var(--black-font);
  text-decoration: underline;
}

.specialist img {
  width: 5rem;
  height: 5rem;
}

.container-right {
  flex: 1;
}

.container-right img {
  height: 100%;
  width: 100%;
}

.icons {
  background-color: var(--black-font);
  height: 9.5rem;
  margin-top: 2rem;
}

.animation-icons {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 4.5rem;
  overflow: hidden;
}

.animation-icons img {
  animation: different 60s linear infinite;
}

.video-container {
  height: 100vh;
  display: flex;
}

.video {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.border {
  background-image: url(./img/videoframe_6333.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50rem;
  height: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}

.video p {
  margin-top: 1rem;
  color: var(--white-font);
  font-size: 2rem;
  font-weight: 500;
}

.video-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-text p:nth-child(1) {
  font-size: 3rem;
}

.video-text p:nth-child(2) {
  font-size: 1.1rem;
  margin: 1.5rem 5rem 0 0;
  line-height: 1.7rem;
}

.module {
  height: 120vh;
}

.top {
  text-align: center;
  width: 50rem;
  margin: 8rem auto 4rem;
}

.top p {
  font-size: 3.5rem;
}

.bottom {
  display: flex;
  justify-content: space-between;
  width: 83%;
  margin: auto;
}

.module-icons {
  width: 18.5rem;
}

.module-icons img {
  height: 5rem;
  width: 5rem;
}

.module-icons h4 {
  font-size: 1.5rem;
  margin: 1.5rem 0 2rem 0;
}

.graphic {
  display: flex;
  height: 100vh;
}

.graphic-left {
  flex: 1.3;
}

.graphic-inclusive {
  width: 75%;
  height: 75%;
  margin: auto;
}

.graphic-tittle {
  font-size: 2.5rem;
}

.graphic-list {
  margin-top: 1.5rem;
}

.graphic-list p {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.graphic-list i {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--black-font);
  color: var(--white-font);
  margin-right: 0.7rem;
}

.graphic-buttons {
  margin-top: 3rem;
}

.graphic-buttons button:nth-child(1) {
  background-color: var(--green-color);
  border: none;
}

.graphic-buttons button:nth-child(2) {
  background-color: var(--white-font);
}

.graphic-buttons button:nth-child(1):hover {
  background-color: var(--hover-gren-color);
  transition: 0.5s;
}

.graphic-buttons button:nth-child(2):hover {
  background-color: #e2e7e5;
  transition: 0.5s;
}

.graphic-right {
  flex: 1;
}

.graphic-right img {
  height: 70%;
  width: 70%;
}

.graphic2 {
  display: flex;
  justify-content: end;
}

.tools {
  height: 100vh;
  background-color: var(--bgc-color);
  color: var(--white-font);
}

.tools-container {
  height: inherit;
  display: flex;
  flex-direction: column;
}

.tools-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 2rem;
}

.tools-top p:nth-child(1) {
  padding: 0.7rem 1rem;
  background-color: #f0f0f0;
  color: var(--black-font);
  border-radius: 2rem;
  font-weight: 500;
}

.tools-top p:nth-child(2) {
  font-size: 2.5rem;
}

.tools-bottom {
  flex: 1.5;
  display: flex;
  width: 85%;
  margin: auto;
  height: 75%;
}

.tools-card-icon-top {
  display: flex;
}

.tools-card-icon-bottom {
  display: flex;
}

.tools-card-tittle {
  font-size: 1.7rem;
  margin-top: 1.5rem;
  font-weight: 500;
}

.tools-card-text {
  margin-top: 1.5rem;
  color: #969696;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

.testimonials {
  background: linear-gradient(to bottom, #e1ede9, #fff);
}

.testimonials-tittle {
  text-align: center;
  padding-top: 5rem;
}

.testimonials-tittle span {
  padding: 1rem 2rem;
  background-color: #f0f0f0;
  border-radius: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.089);
}

.testimonials-text {
  text-align: center;
  margin-top: 3rem;
  font-size: 2.5rem;
}

.testimonials-box {
  width: 80%;
  height: 400px;
  margin: 5rem auto;
  border-radius: 2rem;
  display: flex;
  box-shadow: -10px 10px 5px rgba(249, 68, 68, 0.981);
  background-color: var(--black-font);
}

.testimonials-box-left {
  display: flex;
  flex-direction: column;
  flex: 2;
  border-radius: 2rem;
  background-color: #fff;
}

.testimonials-box-left-img {
  width: 95%;
  margin: auto;
}

.testimonials-box-left-img img {
  width: 10rem;
}

.testimonials-box-left-text {
  width: 95%;
  margin: 1rem auto;
  font-size: 1.3rem;
  line-height: 2rem;
}

.testimonials-box-left-person {
  width: 95%;
  margin: 7rem auto;
}

.testimonials-box-left-person p:nth-child(1) {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.testimonials-box-right {
  flex: 1;
  background-color: var(--black-font);
  color: var(--white-font);
  border-radius: 2rem;
}

.testimonials-box-right-math {
  width: 90%;
  margin: 2rem auto 0;
  font-size: 2.5rem;
}

.testimonials-box-right-text {
  width: 90%;
  margin: 0.3rem auto 0;
  font-size: 1.2rem;
}

.testimonials-box-right div {
  width: 90%;
  margin: 12.5rem auto 0;
}

.testimonials-box-right div button {
  background-color: var(--green-color);
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
}

.testimonials-box-right div button:hover {
  background-color: var(--hover-gren-color);
  transition: 0.5s;
}

.testimonials-icons {
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.testimonials-icons-img {
  padding: 0.8rem 1.8rem;
}

.testimonials-icons-img img {
  height: 3rem;
  width: 8rem;
}

.testimonials-icons-img:hover {
  background-color: #e7e7e7;
  transition: 0.5s;
  border-radius: 0.5rem;
}

@keyframes different {
  0% {
    transform: translateX(95rem);
  }

  100% {
    transform: translateX(-137rem);
  }
}

@media (max-width: 1300px) {
  .video-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .video-text p:nth-child(1) {
    width: 50%;
  }

  .video-text p:nth-child(2) {
    width: 50%;
    margin: 2rem 0 0 0;
  }

  .video-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .video {
    flex: 1;
  }
}

@media (max-width: 945px) {
  .header {
    display: flex;
    align-items: end;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .container-right img {
    height: 50%;
  }

  .border {
    width: 35rem;
    height: 20rem;
  }

  .top {
    width: 100%;
  }

  .module-icons {
    width: 100%;
  }

  .tools-bottom {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .tools-card-icon-bottom {
    margin-top: 5rem;
  }
}

@media (max-width: 780px) {
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .graphic {
    display: flex;
    flex-direction: column;
  }

  .graphic-mid {
    flex-direction: column-reverse;
  }

  .graphic-inclusive {
    width: 85%;
  }

  .graphic-right img {
    margin-left: 3rem;
  }

  .graphic2 {
    justify-content: start;
  }
}

@media (max-width: 550px) {
  .links {
    display: flex;
    flex-direction: column;
  }

  .container {
    padding-top: 2.5rem;
  }

  .header-right {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .border {
    width: 27rem;
    height: 15rem;
  }

  .tools-card-icon-bottom {
    flex-direction: column;
    margin-top: 0;
  }

  .tools-card-icon-top {
    flex-direction: column;
  }

  .tools-card-tittle {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .tools-card-text {
    margin-top: 1rem;
    color: #969696;
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
}
